<div>
	<form method="post">
		<p>
			<label>Введите предложение:</label>
			<input type="text" name="sentence" />
		</p>
		<p>
			<input type="submit" value="Преобразовать пробелы" />
		</p>
		<p>
			<label>@ViewBag.modifiedSentence</label>
		</p>
	</form>
</div>
