<div>
	<form method="post">
		<p>
			<label>Введите предложение:</label>
			<input type="text" name="StringS" />
		</p>
		<p>
			<input type="submit" value="Преобразование" />
		</p>
		<p>
			<label>@ViewBag.StringNotS</label>
		</p>
	</form>
</div>
