<div>
	<form method="post">
        <p>
            <label>Среднее арифметическое 5 минимальных значений массива: </label>
            <label>@ViewBag.average</label>
		</p>
		<table border="1">
            @for (int i = 0; i < Model.Matrix.GetLength(0); i++)
            {
                <tr>
                    @for (int j = 0; j < Model.Matrix.GetLength(1); j++)
                    {
                        <td><pre>@Model.Matrix[i, j]    </pre></td>
                    }
                </tr>
            }
        </table>
	</form>
</div>
