<div>
	<form method="post">
		<p>
			<label>Введите числа:</label>
			<input type="number" name="a" />
			<input type="number" name="b" />
			<input type="number" name="c" />
		</p>
		<p>
			<input type="submit" value="Найти" />
		</p>
		<p>
			<label>@ViewBag.N</label>
		</p>
	</form>
</div>