<div>
	<form method="post">
		<p>
			<label>Введите численный массив через пробел:</label>
			<input type="text" name="InputMass" />
		</p>
		<p>
			<input type="submit" value="Вывести" /> 
			<label>@ViewBag.sum1</label>
			<label>@ViewBag.sum2</label>
		</p>
	</form>
</div>